/*==========  Desktop First  ========== */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .main_banner {
    padding: 150px 0 220px; }

  /* */ }
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .main_banner .main_banner_info > h1 {
    font-size: 45px; }

  .main_banner {
    padding: 100px 0 160px; }

  section {
    padding: 80px 0; }

  #advantages .row_adv .item_adv {
    margin: 20px; }

  #reviews {
    padding: 150px 0; }

  .form_info {
    margin-bottom: 120px; }

  #footer .row_flex .col_footer_1,
  #footer .row_flex .col_footer_3 {
    width: 48%;
    order: 2; }

  #footer .row_flex .col_footer_2 {
    width: 100%;
    margin-bottom: 30px;
    order: 1; }

  /* */ }
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  #header .inner_header .right_header > .btn_header {
    display: none; }

  #header .inner_header .right_header .menu_top > li a {
    padding: 5px 25px 5px 0; }

  #header .inner_header .right_header .menu_top > li.has_sub_menu::after {
    right: 10px; }

  .main_banner {
    padding: 50px 0 220px; }
    .main_banner .img-responsive {
      margin: 0 auto;
      max-width: 75%; }

  .main_banner .main_banner_info > h1 {
    font-size: 35px; }

  section {
    padding: 60px 0; }

  #advantages {
    padding-top: 100px; }

  #advantages h2 {
    font-size: 30px; }

  #advantages .row_adv {
    text-align: center;
    max-width: 340px;
    margin: 0 auto; }

  #advantages .row_adv .item_adv > .heading {
    margin: 10px 0; }

  section.information .img-responsive {
    display: none; }

  section.information .right_info {
    padding: 0 10px;
    text-align: center; }
    section.information .right_info .notif {
      margin: 0 auto; }

  #footer .menu_footer_wrapper {
    padding: 0 auto; }

  /* */ }
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .hamburger {
    display: block; }

  #header {
    position: relative; }
    #header .inner_header .right_header .menu_top {
      display: none;
      position: absolute;
      left: 0;
      right: 0;
      top: 75px;
      width: 100%;
      background-color: #FCFDFF;
      padding: 10px 15px;
      z-index: 11; }
      #header .inner_header .right_header .menu_top > li {
        display: block; }
        #header .inner_header .right_header .menu_top > li > a {
          padding: 5px 10px; }
        #header .inner_header .right_header .menu_top > li > .sub_menu {
          display: block;
          position: relative;
          top: auto;
          background-color: #FCFDFF;
          box-shadow: none;
          border-radius: none;
          animation: none;
          padding-left: 15px; }

  #header .inner_header .right_header .menu_top > li.has_sub_menu::after {
    display: none; }

  #top_banner {
    background-color: #FCFDFF;
    background-image: none !important; }
    #top_banner .main_banner {
      padding: 20px 0; }

  .notif {
    margin: 0 auto; }

  .main_banner .main_banner_info {
    text-align: center; }
    .main_banner .main_banner_info > h1 {
      font-size: 32px; }

  .main_banner .main_banner_info > .descrtiption {
    font-size: 14px; }

  .main_banner .main_banner_info > .btns {
    flex-wrap: wrap; }
    .main_banner .main_banner_info > .btns > a {
      display: block;
      width: 100%; }
    .main_banner .main_banner_info > .btns > .btn_white {
      margin: 0;
      margin-top: 10px; }

  section {
    padding: 40px 0; }

  #reviews .nav_review > div {
    width: 30%;
    margin: 10px auto;
    padding-left: 10px; }

  /* */ }
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /* */ }
/*==========  Mobile First  ========== */
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /* */ }
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /* */ }
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /* */ }
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /* */ }
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /* */ }

/*# sourceMappingURL=adaptive.css.map */
